__pycache__
.venv
.env

poetry.lock
package/

frontend/node_modules
frontend/dist
frontend/yarn.lock
frontend/yarn-error.log
frontend/.yarn
frontend/.pnp.cjs
frontend/.pnp.loader.mjs

dist/

# JetBrains
.idea/

# Pyenv
.python-version

# vs code
.vscode/
.history/
*.code-workspace

# >>> enforce_ignores_for_git_project.py - managed block (do not delete header/footer)

# VSCode
**/.vscode
**/.history
**/.venv

# AYON
**/package

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Node
node_modules/

# Tooling
/.ruff_cache
# <<< enforce_ignores_for_git_project.py
